<div class="container mt-5 p-5">
    <mat-card class="text-white">     
        <h1 class="text-center fs-1">Calculadora de Promedios</h1>
        <div class="container-sm my-4">
            <label class="fs-4 col-12 mb-4">Ingresar valores separados por coma:</label>
            <mat-form-field class="col-12">    
                <input matInput type="text" placeholder="Ingrese aqui los valores" [(ngModel)]="inputValues">
            </mat-form-field>
            <button mat-raised-button class="col-2 text-center my-3" color="primary" (click)="calcularPromedio()">Calcular Promedio</button>
            <p class="my-3 fs-3" *ngIf="average !== null">El promedio es: {{ average }}</p>
        </div>  
        
    </mat-card>
</div>
  
