<div class="container">

    <img class="img-fluid mx-auto d-block mt-5" src=".\assets\images\bienvenido.png">

    <div class="row">
        <div class="text-center mt-5 text-white">
            <h2 class="fs-1">Bienvenido a tu aplicación de variedades</h2>
            <button class="my-4 mat-icon--right" mat-fab extended color="primary" (click)="navigateToLogin()">
                  <span>Inicia ahora!</span> <mat-icon>chevron_right</mat-icon>
            </button>  
            <h2 class="fs-4 lh-sm">¡Organiza tu vida con facilidad! Con nuestra aplicación lleva tus ideas contigo donde quiera que vayas.</h2>
            <h2 class="fs-4 mt-2 lh-sm">Captura pensamientos, crea listas y mantén tus tareas al día.</h2>                
        </div>
    </div>

</div>


<mat-toolbar class="shadow" color="primary" class="footer">
    <span class="col-12 lh-sm">Todos los derechos reservados &copy; 2023 Universidad de Nariño</span>
    <span class="example-spacer"></span>
</mat-toolbar>
